.site-layout-background {
  // box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1) !important;
  padding: 24px !important;
  // background-color: #fff;
  // border-radius: 15px;
  // height: 100% !important;

  max-height: 100vh;
}
.ant-layout {
  background-color: #f9f9f9 !important;
  height: 100% !important;
  max-height: 100vh;
}
