$pink: #ea7a9a;
$nude: #f0c6b8;
$white: #fff;
$light-pink: #E97A9A;

@mixin text-custom($font_family: Poppins, $font_size: 20px, $font_weight: 500) {
    font-family: $font_family, sans-serif;
    font-size: $font_size;
    font-weight: $font_weight;
  }

.dashboard {

    &__card {
        border-radius: 15px;
        
        padding-inline: 1.875rem;
        padding-top: 15px;
        padding-bottom: 15px;

        background: linear-gradient(to right, $pink 0%, $nude 100%);

        .card {

            &__wrapper {
                align-items: center;
                width: 100%;
                height: auto;
            }

            &__content {

                &--left {
                    display: flex;
                    align-items: center;
                }

                &--right {
                    width: 100px;
                    height: 100px;

                    position: relative;

                    .circle--white {
                        width: 72px;
                        height: 72px;
                        border-radius: 50%;
                        background-color: $white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            .anticon {
                                transform: scale(1.2);
                                transition: all 0.5s ease;
                            }
                        }

                        .anticon {
                            font-size: 40px !important;
                            color: $light-pink;
                        }
                    }
                }
            }

            &__title {

                &--big {
                    color: $white;
                    @include text-custom(Nunito, 45px, 800);
                }

                &--small {
                    color: $white;
                    @include text-custom(Poppins, 18px, 400);
                }
            }
        }
    }
}

.custom-dashboard {
    .charts-section {
        .recharts-wrapper {
            width: 100% !important;
            height: 100% !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}