.header-container {
    height: 100px !important;
    max-width: 100%;
    width: 100%;
    background: #fff !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    line-height: auto !important;
  
    .ant-layout-header {
      height: 100px !important;
      padding: 0 !important;
      width: 100% !important;
    }
    .avatar-container {
      display: flex;
      justify-content: center;
      padding-right: 10px;
      .avatar:hover {
        cursor: pointer;
      }
      .avatar-details {
        padding: 0 20px 0 12px;
        @media only screen and (max-width: 1376px) {
          display: none;
        }
      }
      .avatar-name {
        font-weight: bold;
        color: black;
      }
      .avatar-role {
        color: black;
      }
    }
    .badge {
      display: flex;
      justify-content: flex-end;
    }
  }
  
  .ant-layout-header {
    line-height: unset !important;
  }
  .ant-dropdown-menu {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    border-radius: 15px !important;
    padding: 18px !important;
    margin-top: 12px !important;

    li {
      font-size: 16px;
    }

    li:hover {
      color: #ea7a9a;
      background-color: #fbe8ee !important;
      border-radius: 30px;
    }
  }
  