.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    max-width: 100%;
  
    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
  
      padding: 24px 24px 0 24px;
      transition: all 0.3s ease;
      .logo {
        max-width: 100%;
      }
  
      .logo-text {
        max-width: 150px;
        margin-bottom: 13px;
        height: auto;
        transition: all 0.3s ease;
        scale: 1.3;
      }
    }
  
    .menu-container {
      max-width: 100%;
      padding: 20px;
      div[aria-expanded="true"] {
        background: linear-gradient(to right, #ea7a9a, #f37c8a)  !important;
        border-radius: 30px;
        .ant-menu-title-content {
          color: #fff;
          font-size: 16px;
          font-weight: bold;
        }
        .ant-menu-item-icon {
          color: #fff;
          font-weight: bold;
          font-size: 21px;
        }
        .ant-menu-submenu-arrow {
          color: #fff !important;
          font-weight: bold;
        }
      }
  
      .ant-menu-submenu-title {
        padding: 30px;
        border-radius: 30px;
  
        .ant-menu-title-content {
          color: #7e7e7e;
          font-size: 16px;
          font-weight: bold;
        }
        .ant-menu-item-icon {
          color: #7e7e7e;
          font-weight: bold;
          font-size: 21px;
        }
        .ant-menu-submenu-arrow {
          color: #7e7e7e !important;
          font-weight: bold;
        }
      }
      .ant-menu-submenu-selected {
        color: #7e7e7e;
        font-weight: bold;
      }
      .ant-menu-item {
        .ant-menu-title-content {
          color: #7e7e7e;
          font-size: 16px;
          font-weight: bold;
        }
      }
      .ant-menu-inline,
      .ant-menu-vertical,
      .ant-menu-vertical-left {
        border-right: unset !important;
        background: #fff !important;
      }
      .ant-menu-item::after {
        border-right: unset !important;
      }
      .ant-menu-item-selected {
        color: #ea7a9a !important;
        background: #fff !important;
        font-weight: bold;
        font-size: 16px;
  
        .ant-menu-title-content {
          color: #ea7a9a !important;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
  