$white: #fff;
$blue: #3c4562;
$pink: #ed8a9f;
$light-pink: #ea7a9a;
$dark-pink: #e65980;
$baby-pink: #fbe8ee;
$gray: #7e7e7e;

.create-workspaces {
  background-color: rgb(237, 138, 159) !important;
  color: white !important;
  border-radius: 15px !important;
  border: 0px !important;
}
.ant-tag {
  border-radius: 15px !important;
}
.ant {
  &-input {
    border-radius: 15px !important;
    color: black !important;

    &:focus,
    &-focused {
      border-color: $pink !important;
      box-shadow: 0 0 0 2px $baby-pink !important;
      border-radius: 15px;
    }

    &:hover {
      border-color: $pink !important;
    }

    &-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
      border-color: $pink !important;
      border-radius: 15px;
    }

    &-affix-wrapper:focus,
    &-affix-wrapper-focused {
      border-color: $pink !important;
      box-shadow: 0 0 0 2px $baby-pink !important;
    }
  }
}
.ant-select {
  border-radius: 15px !important;
  &:hover {
    border-color: $pink !important;
  }
}

.ant-select-selector:hover {
  border-color: $pink !important;
}

.ant-select-selector {
  border-radius: 15px !important;
  height: 200px;
  box-shadow: unset !important;

  .ant-select-selection-overflow {
    padding: 12px !important;
    height: 100%;
    align-content: flex-start;

    .ant-select-selection-item {
      border-radius: 15px !important;
      width: 100%;
      background-color: #7e7e7e;

      .ant-select-selection-item-content {
        display: flex;
        justify-content: center;
        width: 100%;
        color: rgb(255, 255, 255);
        font-weight: 500;
      }
    }

    .ant-select-selection-item-content::before {
      content: "\f007";
      color: rgb(255, 255, 255);
      padding: 0 6px;
      display: inline-block;
      font-family: fontawesome;
    }
  }
}
.ant-select-focused {
  border-color: $pink !important;
}
.text-title-wp {
  font-weight: 600;
}
.save-btn-wp {
  width: 100%;
  border-radius: 12px !important;
  background-color: #ea7a9a !important;
  color: white !important;
  border: unset !important;
}
.ant-btn-default {
  border-radius: 12px !important;
  &:hover {
    color: #ea7a9a !important;
    border-color: #ea7a9a !important;
  }
}
.ant-btn-primary {
  border-radius: 12px !important;
  background-color: #ea7a9a !important;
  color: white !important;
  border: unset !important;
}
