@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif !important;
  font-size: 14px;
  color: #647589 !important;
  background-color: #f9f9f9 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
section {
  overflow-x: hidden;
}
.ant-layout {
  height: 100vh !important;
}
/* .ant-layout-content {
  max-height: 100vh;
  overflow-y: auto;
} */
