.card-container {
    width: 100%;
    border-radius: 15px !important;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1) !important;
    margin: 24px 0 !important;
    padding: 24px !important;
    @media only screen and (max-width: 1367px) {
      .dayoff-detail-container {
        max-width: 1366px;
      }
    }
    @media only screen and (max-width: 1200px) {
      .dayoff-detail-container {
        max-width: 1200px;
      }
    }
    @media only screen and (max-width: 992px) {
      .dayoff-detail-container {
        max-width: 960px;
      }
    }
    @media only screen and (max-width: 768px) {
      .dayoff-detail-container {
        max-width: 720px;
      }
    }
    @media only screen and (max-width: 576px) {
      .dayoff-detail-container {
        max-width: 540px;
        .arrow-1{
          transform: rotate(90deg);
        }
      }
    }
    @media only screen and (max-width: 390px) {
      .dayoff-detail-container {
        max-width: 390px;
        .arrow-1{
          transform: rotate(90deg);
        }
      }
    }
  }
  .ant-descriptions-item-label {
    width: 100px !important;
  }
  .ant-layout-content {
    max-height: 100vh;
    overflow-y: auto;
    
  }
  .ant-modal-footer button {
    background-color: #f9f6f7;
    border-color: #e97a9a;
    color: rgb(5, 0, 0);

  }
  .ant-modal-footer button:last-child {
    background-color: #e97a9a;
  }
  .ant-modal-footer button:hover{
    background-color: rgb(254, 254, 254);
    color: rgb(4, 0, 0);
    animation: pulse 1s infinite;
    border-color: #e97a9a;
  }
  .ant-modal-footer button:last-child:hover {
    background-color: #e7275d;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .clock:hover {
    animation: pulse 1s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  

  
  